__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
installer/
*.spec
data/*
!data/institution_config.json
*.db
*.db-journal
*.db-wal
*.pdf
.DS_Store
thumbs.db
resources/icon.ico
export_mdb*.vbs
import_access.py
run_import.py
